### node_modules
node_modules/


### dist 
packages/*/dist/
dist/
package-lock.json
### .env 파일 
.env

### coverage 파일 
coverage/

### yarn.lock 파일 
yarn.lock

### log 파일 
yarn-error.log
npm-debug.log
lerna-debug.log